*{
    margin: 0;
  }
  

  :root{
    --titulos:36px;
    --color-main:#aad224;
    --color-texto:#9da0a9;
  }

  .cabecera{
    background-color: var(--color-main);
    color: white;
  }
  
  .cabecera h1{
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 41px;
    padding-left: 60px;
  }
  
  nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 1000px;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 40px;
    background-color: white;
  }
  
  nav a{
    color: white;
    text-decoration: none;
  }
  
  nav ul{
    display: flex;
    gap: 8px;
    background-color: #d63d8f;
  }
  
  ul li {
    list-style: none;
    padding: 16px;
  }
  
  .current_page_item,ul li:hover{
    background-color: #9d66de;
    text-shadow: #43206B -1px 1px 2px; 
    margin-top:-6px; 
    padding-bottom:6px;
  }

  .contendor-cajas{
    width: 1000px;
    margin: 0 auto; 

  }
  
  .caja-izq{
    float: left;
    width: 640px;
  }

  .caja-der{
    float: right;
    width: 240px;
    margin: 0px;
    padding: 0px 30px 30px 0px;
  }

  .post{
    margin: 0px 0px 30px 0px; 
    border-bottom: 1px solid #CCCCCC;
  }

  article.post h3{
    padding: 4px 35px 4px 15px; 
    font-weight: normal; 
    color: #a2bec9;
    margin-top: 20px;

  }

  .post div{
    display: flex;
    gap: 20px;
    color: var(--color-texto);
  }

  .caja-der h3, 
  .caja-izq h3{
    font-size: var(--titulos);
    color: var(--color-main);
  }

  .caja-der h3::nth-child(3){
    margin-top: 30px;
  }

  .caja-der a{
    color: var(--color-texto);
    text-decoration: none;
  }
  .caja-der li{
    border-bottom: 1px solid #c3c3c3;
    text-transform: capitalize;
  }

  .caja-der li ::before{
    content: ">";
    font-weight: 900;
    color: var(--color-main);
  }
  
  body{
    background-color: #eaeef9;
  }

  img{
    width: 192px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
  }